img{
	max-width: 100% !important;	
	max-height: 100% !important;
	height:auto;
}

img.alignright {
	float:right; 
	margin:0 0 1em 1em;
}

img.alignleft {
	float:left; 
	margin:0 1em 1em 0;
}

img.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

a img.alignright {
	float:right; 
	margin:0 0 1em 1em;
}

a img.alignleft {
	float:left; 
	margin:0 1em 1em 0;
}

a img.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
.wp-caption{
	max-width:fit-content;
}


.footer{
	padding:5px;
	margin-top:10px;
	min-height:150px !important;
}

.footer-sidebar{
	list-style-type: none;
	text-align: center;
	padding-left: 0px !important;
}

.jumbotron{
	border-radius: 0px !important;
	height:400px;
	background-size:cover;
}
.vertical-center{
	min-height:100%;
	min-height:100vh;
	display:flex;
	align-items: center;
}

/* Gallery Template */
.gallery{
	list-style-type: none;
	padding-left:0px;
	
}

.gallery-item{
	display:inline-block;
	max-width:25%;
	height:auto;
}

.gallery-item--image{
	max-width: inherit;
	width:100%;
}

.social-media-widget{
	list-style-type: none;
	padding-left:0px !important;
}

.social-media-widget li{
	display: inline-block;
}

.social-media-widget li a i{
	font-size:36px;
}

.widget_pages ul{
	list-style-type: none;
	padding-left:0px;
}

.widget_pages ul li a{
	color:#ffffff;
}

p + p{
	margin-top:8px;
}

.jumbotron .container *{
	color:#004d00;
}

/* Hero */
.hero{
	width:100%;
	display:flex;
	flex-flow: wrap;
	flex-direction: column;
	height:600px;
	background-position: center center;
}

@media(max-width:786px){
	.hero{
		height:400px;
	}
}

.hero-content-alignment--top-left{
	justify-content: flex-start;
	align-items: flex-start;
}
.hero-content-alignment--top-center{
	justify-content: center;
	align-items: flex-start;
}
.hero-content-alignment--top-right{
	justify-content: flex-end;
	align-items: flex-start;
}
.hero-content-alignment--center-left{
	justify-content: flex-start;
	align-items: center;
}
.hero-content-alignment--center-center{
	justify-content:center;
	align-items: center;
}
.hero-content-alignment--center-right{
	justify-content: flex-end;
	align-items: center;
}
.hero-content-alignment--bottom-left{
	justify-content: flex-start;
	align-items: flex-end;
}
.hero-content-alignment--bottom-center{
	justify-content: center;
	align-items: flex-end;
}
.hero-content-alignment--bottom-right{
	justify-content: flex-end;
	align-items:flex-end;
}

/* Featured Posts Block*/
.featured-posts{
	width:100%;
	list-style-type:none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.featured-posts--post{
	width:50%;
}

.featured-posts--post:first-of-type{
	width:100%;
}

.featured-posts--post img{
	float:left;
}
@media(max-width:786px){
	.featured-posts--post{
		width:100%;
	}
	
	.featured-posts--post:after{
		margin:23px;
		border-bottom:1px solid black;
	}
	
	
}