.footer{
	padding:5px;
	margin-top:10px;
	min-height:150px !important;
}

.footer-sidebar{
	list-style-type: none;
	text-align: center;
	padding-left: 0px !important;
}

.jumbotron{
	border-radius: 0px !important;
}

/* Gallery Template */
.gallery{
	list-style-type: none;
	padding-left:0px;
	
}

.gallery-item{
	display:inline-block;
	max-width:25%;
	height:auto;
}

.gallery-item--image{
	max-width: inherit;
	width:100%;
}