/* Hero Styles */
.hero{
	position:relative;
	height:calc(100vh - 8.625rem);
	overflow:hidden;
}

.hero--image, .hero--video{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #2a2a2a;
}

.hero--image:before, .hero--video:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	mix-blend-mode: multiply;
}

.hero.hero--video video, .hero.hero--image img{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 101%;
	min-height: 101%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;
}
 
 .hero-content{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 2;
	margin: 0 auto;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
	
 }
 
 .hero.hero-content--center-top{
	padding-top: 4.5rem;
	padding-bottom: 0;
 }
 
 .hero.hero-content--center-bottom{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
 }
 
 .hero.hero-content--center-center{
	webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

 }


.hero-content h1{
	font-size:1.25rem;
	color:#ffffff;
}

.hero-subtitle{
	font-size:3rem;
	color:#ffffff;
}

.jumplink i{
	color:#ffffff;
	font-size:3rem;;
}

/* Features */
.home-features{
	margin-top:15px;
}

@media(min-width:768px){
	.home-card{
		max-width:300px;
	}
}

/* Gallery */
.home-gallery--image{
	max-width:150px;
}

.section-heading{
	text-align:center;
}

/* Shop */
.home-shop--product{
	max-width:300px;
	max-height:350px;
}

.home-shop--product-image{
	max-width:inherit;
	width:100%;
}

.home-shop--product-title{
	color:#000000;
	text-align: center;
}