.woocommerce-product-gallery{
	float:left;
	padding:15px;
}

.woocommerce-tabs .tabs{
	list-style-type: none;
}

ul.tabs.wc-tabs{
	margin-right:40px;
	padding-left:0px !important;
}

ul.tabs.wc-tabs li{
	display:inline !important;
	margin:0 !important;
}

ul.tabs.wc-tabs li:not(:last-child){
	border-bottom: 1px solid rgba(0,0,0,0.05) !important;
}

.woocommerce div.product .woocommerce-tabs .panel {
	float: right;
	width: calc(100% - 240px);
}

.upsells, .related {
	clear:both;
}

.woocommerce-tabs ul.tabs{
	list-style:none;
	overflow:hidden;
	position:relative;
	margin:0 ;/*0 1.618em*/
	padding:0;
}

 .woocommerce-tabs ul.tabs li {
	background: #EFEFEF;
	display:inline-block;
	position:relative;
	z-index:0;
	margin:0;
}

 .woocommerce-tabs ul.tabs li.active{
    border-color:#78c8ce;
}
.woocommerce-tabs ul.tabs li a {
	display:inline-block;
	font-weight:600;
	color:#606060;
	text-decoration:none;
	font-size:18px;
	padding:10px 20px;
	text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li a:hover{
	text-decoration:none;
	color:#7a7a7a;
}
.noreviews a{
	color:#78c8ce;
}
.woocommerce-tabs ul.tabs li.active {
	background-color:#004d00;
	z-index:2;color:#FFF;
	border-bottom-color:#78c8ce;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

}

.woocommerce-tabs ul.tabs li.active a{
	color:inherit;
	text-shadow:inherit;
}

#rating_chzn{
	display: none;
}

.woocommerce-tabs ul.tabs:before{
	position:absolute;
	content:" ";
	width:100%;
	bottom:0;
	left:0;
	border-bottom:1px solid #EFEFEF;
	z-index:1;
}

 .woocommerce-tabs .panel {
	 float:left;
	 margin:0 0 2em;
	 padding:15px 0;
}

.woocommerce-tabs .panel:first-of-type{
	float:none;
	margin: 0 0 2em; 
	padding:15px 0;
}

 .woocommerce-tabs .accordion-group.panel{
    padding:0;
    margin:0;
    display: block !important;
}


/* Custom Styles */
p{
	margin-bottom:0px !important;
}

.label>label{
	margin-bottom:0px !important;
}

.quantity>.screen-reader-text{
	height:auto !important;
	overflow: inherit;
	position: inherit !important;
	width:fit-content;
	word-wrap: normal !important;
}

.variations>tbody>tr>td>select{
	background-color:#ffffff;
	width:100%;
}

.variations>tbody>tr>td>label{
	font-weight: bold;
}

.variations>tbody>tr>td{
	padding-top:5px;
	vertical-align: top !important;
}

.variations>tbody>tr>td>label:after{
	content:':';
	font-weight: bold;
}

.variations{
	width:fit-content;
}


/* related items */

.related h2{
	text-align: center;
}

.related>ul.products{
	list-style-type:none;
	padding-left:0px;
}

.related>ul.products > li{
	width:fit-content;
}

.related>ul.products > li > a{
	color:#000000;
	display:block;
	text-align: center;
}

.related>ul.products > li>a>img{
	width:150px;
	height:auto;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.related>ul.products > li>a>h2{
	text-align: left;
	width:inherit;
	font-size:18px;
}

.related>ul.products > li a.button{
	width:100%;
}

/*reviews */
.comment-form-comment label{
	width:100%;
}

i.far.fa-star{
	color:#c7c5c5;
}

.stars > span > a:before{
	color: #c7c5c5;
	cursor: pointer;
	font-size:3em;	
}

.stars:hover > span > a{
	color:#004d00;
	text-fill-color:#4bce32
}

.stars > span a:hover ~ a{
	color: #c7c5c5;
}

.active{
	color:#004d00;
}
 
 /* Shop */
 
 .products{
	 list-style-type: none;
	 padding-left:0px !important;
	 width:100%;
	 display: block;
	 margin-left: auto;
	 margin-right:auto;
 }
 
 .products > li.product{
	 display: inline-block;
	 height:auto;
 }
 
 .products.columns-4 >li.product{
	 max-width:25%;
	 display:inline-block;
 }
 
@media(max-width:780px){
	.products{
		list-style-type: none;
		padding-left:0px !important;
		width:fit-content;
		display: block;
		margin-left: auto;
		margin-right:auto;
	}
	.products.columns-4 > li.product{
		width:100%;
		max-width:100%;
		display:block;
		margin-left: auto;
		margin-right:auto;
	}
}
 
 li.product > a{
	 color:#000000;
 }
 
 .woocommerce-loop-product__title{
	 font-size: 16px;
	 text-align: center;
	 width:100%;
 }
 
 .woocommerce-loop-product__link>img{
	max-width: 100% !important;
	height:auto;
 }
 
.woocommerce-loop-product__link > span.price{
	text-align: center;
	width:100%;
}
 .woocommerce-loop-product__link{
	display:block;
 }
 
 .product > .add_to_cart_button{
	 width: 100%;
	 text-align: center;
 }
 
 /* Sidebars */
 .widget_product_categories, .widget_product_search{
	 list-style: none;
	 display:block;
 }
 
 @media(max-width:780px){
	.widget_product_categories, .widget_product_search{
		list-style: none;
		width:fit-content;
		max-width:100%;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
 }
 
 .shop-sidebar--left__title{
	 font-size:18px;
 }
 
 .widget_product_categories > ul{
	 list-style-type: none;
	 padding-left:0px !important;
 }
 
 ul.children{
	 list-style-type: none;
	 padding-left:15px !important
 }
 
 .cat-item > a{
	 color:#000000;
 }
 
 /* Checkout */
 .col2-set > div{
	 width:100% !important;
 }
 
 .col-1, .col-2{
	 max-width: 100%;
}
 
 .woocommerce-billing-fields__field-wrapper{
	 width:fit-content;
 }
 
 .form-row label{
	 display:block;
	 width:100%;
 }
 